let ClientProxy =
      { host : Text
      , port : Integer
      , auth : Optional { _1 : Text, _2 : Text }
      }

let CacheBackend = < CacheBackendSQLite | CacheBackendR2 | CacheBackendFilesystem >

let R2Config = { r2Endpoint : Text, r2Bucket : Text }

let ClientConfig =
      { Type =
          { clientId : Text
          , key : Text
          , version : Text
          , proxy : Optional ClientProxy
          , downloadDir : Text
          , cachePath : Text
          , cacheBackend : CacheBackend
          , r2Config : Optional R2Config
          }
      , default =
          { version = ""
          , proxy = None ClientProxy
          , cacheBackend = CacheBackend.CacheBackendSQLite
          , r2Config = None R2Config
          }
      }

in  ClientConfig::{
    , clientId = "<YOURID>"
    , key = "<YOURKEY>"
    , version = "176"
    , downloadDir = "./download"
    , cachePath = "./cache"
    , cacheBackend = CacheBackend.CacheBackendSQLite
    , r2Config = None R2Config
    }
