name: Haskell CI

on: [push, pull_request]

jobs:
  stack:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        plan:
          - ghc: "9.12.2"
            resolver: "lts-24.27"
        ## include:
        ##   - os: macOS-latest
        ##     flags: '--flag greskell:-hint-test'

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.plan.allow-fail == true }}
    env:
      STACK: stack --no-terminal --system-ghc --resolver ${{ matrix.plan.resolver }}
      FLAGS: ${{ matrix.flags }}

    steps:
      - uses: actions/checkout@v2

      - name: sqlite3 install
        run: |
          sudo apt install libsqlite3-dev

      - uses: actions/cache@v4
        name: Cache GHC
        with:
          path: |
            /usr/local/.ghcup
            ~/.ghcup
          key: ${{ runner.os }}-ghcup-${{ matrix.plan.ghc }}

      - uses: haskell-actions/setup@v2
        id: cabal-setup-haskell
        with:
          ghc-version: ${{ matrix.plan.ghc }}
          enable-stack: true

      - uses: actions/cache@v4
        ## Looks like caching in macOS causes weird failures in the steps later.
        if: runner.os != 'macOS'
        with:
          path: ~/.stack
          key: ${{ runner.os }}-stack-${{ hashFiles('stack.yaml') }}-${{ matrix.plan.resolver }}

      - name: Configure
        run: |
          set -ex
          rm -f stack.yaml.lock
          $STACK clean

      - name: Install dependencies
        run: $STACK test --bench --only-dependencies $FLAGS
      - name: Build
        run: $STACK build --bench --haddock --no-haddock-deps $FLAGS
      - name: Install Binary
        run: |
          stack install --system-ghc --local-bin-path ./bin/
      - name: Compress binaries
        uses: crazy-max/ghaction-upx@v3
        with:
          version: latest
          files: |
            ./bin/*
          args: -fq
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: hs-hath-${{ matrix.os }}
          path: |
            ./bin/
