name: Haskell CI

on: [push, pull_request]

jobs:
  stack:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        plan:
          - ghc: "9.12.2"
            resolver: "lts-24.27"
        ## include:
        ##   - os: macOS-latest
        ##     flags: '--flag greskell:-hint-test'

    runs-on: ${{ matrix.os }}
    continue-on-error: ${{ matrix.plan.allow-fail == true }}
    env:
      STACK: stack --no-terminal --resolver ${{ matrix.plan.resolver }}
      FLAGS: ${{ matrix.flags }}

    steps:
      - uses: actions/checkout@v2

      - name: sqlite3 install
        run: |
          sudo apt install libsqlite3-dev

      - name: Install Stack
        run: |
          curl -sSL https://get.haskellstack.org/ | sh -s - -f

      - uses: actions/cache@v4
        ## Looks like caching in macOS causes weird failures in the steps later.
        if: runner.os != 'macOS'
        with:
          path: |
            ~/.stack
            .stack-work
          key: ${{ runner.os }}-stack-${{ matrix.plan.ghc }}-${{ hashFiles('stack.yaml') }}
          restore-keys: |
            ${{ runner.os }}-stack-${{ matrix.plan.ghc }}-
            ${{ runner.os }}-stack-

      - name: Configure
        run: |
          set -ex
          rm -f stack.yaml.lock
          $STACK clean

      - name: Install dependencies
        run: $STACK test --bench --only-dependencies $FLAGS
      - name: Build
        run: $STACK build --bench --haddock --no-haddock-deps $FLAGS
      - name: Install Binary
        run: |
          stack install --system-ghc --local-bin-path ./bin/
      - name: Compress binaries
        uses: crazy-max/ghaction-upx@v3
        with:
          version: latest
          files: |
            ./bin/*
          args: -fq
      - name: Upload Binary
        uses: actions/upload-artifact@v4
        with:
          name: hs-hath-${{ matrix.os }}
          path: |
            ./bin/
